name: Ubuntu SSH VM with Tailscale
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Prepare Linux Environment
      run: sudo apt-get update && sudo apt-get install -y curl

    - name: Setup Tailscale SSH
      run: bash tailscale-ssh.sh
      env:
        LINUX_USER_PASSWORD: ${{ secrets.LINUX_USER_PASSWORD }}
        LINUX_USERNAME: ${{ secrets.LINUX_USERNAME }}
        LINUX_TAILSCALE_KEY: ${{ secrets.TAILSCALE_AUTH_KEY }}

    - name: Keep VM alive
      run: sleep 6h
