name: Ubuntu SSH via Cloudflare

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH + Cloudflare Tunnel
        run: bash linux-ssh.sh
        env:
          LINUX_USERNAME: ${{ secrets.LINUX_USERNAME }}
          LINUX_USER_PASSWORD: ${{ secrets.LINUX_USER_PASSWORD }}
          CLOUDFLARE_TUNNEL_TOKEN: ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN }}

      - name: Keep VM Alive
        run: sleep 6h
