name: Ubuntu SSH Virtual Machine

on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Update Ubuntu
        run: sudo apt-get update -y

      - name: Setup Ubuntu SSH Environment
        run: bash linux-ssh.sh
        env:
          LINUX_USER_PASSWORD: ${{ secrets.LINUX_USER_PASSWORD }}
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          LINUX_MACHINE_NAME: ${{ secrets.LINUX_MACHINE_NAME }}
          LINUX_USERNAME: ${{ secrets.LINUX_USERNAME }}

      - name: Keep VM Alive
        run: sleep 6h
